.create-new-blog{
    width: 650px;
    margin: 20px auto;
}

.create-new-blog>*{
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.create-new-blog>div{
    display: grid;;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


/* Success and Error div */
.post-success-div{
    border-radius: 5px;
    border: 2px solid rgba(24, 130, 24, 0.747);
    padding: 10px;
    background-color: rgba(0,255,0,0.2);
    color: rgba(24, 130, 24, 0.747);
    display: flex;
    justify-content: space-between;
}

.post-error-div{
    border-radius: 5px;
    border: 2px solid rgba(255, 0, 0, 0.5);
    color:rgba(168, 0, 0, 0.7);
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}

.post-error-div>div *{
    margin-right: 20px;
}

.post-error-div>div>span{
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}