.create-new-blog{
    width: 650px;
    margin: 20px auto;
}

.create-new-blog>*{
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.create-new-blog>div{
    display: grid;;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


/* Success and Error div */
.post-success-div{
    border-radius: 5px;
    border: 2px solid rgba(24, 130, 24, 0.747);
    padding: 10px;
    background-color: rgba(0,255,0,0.2);
    color: rgba(24, 130, 24, 0.747);
    display: flex;
    justify-content: space-between;
}

.post-error-div{
    border-radius: 5px;
    border: 2px solid rgba(255, 0, 0, 0.5);
    color:rgba(168, 0, 0, 0.7);
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}

.post-error-div>div *{
    margin-right: 20px;
}

.post-error-div>div>span{
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.post-preview-btn-container{
    width: 100%;
}
/* 
.post-new-blog:hover::after{
    transition-delay: 0.2s;
} */
/* 
.post-new-blog:hover::after{
    align-self: flex-end;
    content: " ➜";
} */

.post-preview-btn-container>button{
    padding-right: 20px;
    padding-left: 20px;
}

.preview-blog-btn{
    background-color: var(--primary-color-less-opacity);
    color: var(--primary-color);
}

.preview-blog-btn:hover{
    background-color: var(--primary-color-less-opacity);
}

/* Preview Modal */
.blog-preview-modal{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0,0.4);
}

.blog-preview-modal>div{
    width: 650px;
    height: 80%;
    overflow-y: scroll;
    background-color: white;
    padding: 30px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}