.my-profile{
    width:650px;
    margin: 50px  auto;
}

.my-profile-user-description{
    display: flex;
    margin-bottom:100px;
}

.my-profile-user-img{
    width: 200px;
    height: 200px;
    margin-right: 50px;
    border-radius:1000px;
}

.my-profile-user-img>img{
    height: 100%;
    border-radius: 1000px;
}


.my-profile-user-data{
    display: flex;
    flex-direction: column;
}

.my-profile-user-data>*{
    margin-bottom: 15px;
}

.my-profile-user-data>h1{
    font-size: 3rem;
}

.my-profile-user-data>span{
    /* width: 70%; */
}

.my-profile-user-edit{
    align-self: flex-end;
    color: purple;
    text-decoration: underline;
    cursor: pointer;
}

/* change modal */
.change-data-modal-div{
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
    justify-content: center;
    align-items:center;
}

.change-data-modal-div-container{
    width:500px;
    height:500px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

.change-data-modal-div-container>*{
    margin-bottom: 20px;
}

.change-data-modal-div-container>div>span{
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.change-data-modal-div-container>button{
    margin:0;
}

/* Userprofile css from here on */
.users-myblogs{
    width:100%;
    margin-top: 50px;
    /* text-align:center; */
}

.users-myblogs>div{
    width: 100%;
    padding: 5px 0;
    background: rgba(128, 128, 128, 0.075);
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.users-myblogs>div>span{
    font-size: 1.5rem;
    font-weight: bold;
    padding:20px;
}

.users-blog-cont{
    height:500px;
    overflow-y: scroll;
    background-color: #fff !important;
    padding:20px 20px !important;
}
