.navbar{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(rgba(216, 157, 155, 0.613),rgba(171, 127, 126, 0.723));
}

.title{
    font-weight: bold;
    font-size: 2.5rem;
    text-decoration: none;
    color: rgb(22, 22, 22);
}

.navbar-login-signin-div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-login-signin-div>*{
    width: fit-content;
    margin-right: 20px;
}

.navbar-login-signin-div>button{
    padding: 10px;
}

.navbar-profile-image-div{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px dashed var(--primary-color)
}

.navbar-profile-image-div>img{
    width: 100%;
    border-radius: 100%;
}

/* Popover */

.profile-popover{
    z-index:10;
    background-color: white;
    width: 200px;
    height:fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-35%,10%);

    box-shadow: 0px 0px 20px 5px rgba(22, 22, 22,0.2);
}

.profile-popover>div{
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    border-bottom: 1px solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-popover>div:hover{
    background-color: var(--gray-light);
    cursor: pointer;
}

.popover-logout-btn{
    color: var(--red);
}